<div>
    <h1>Calculator</h1>
</div>
<div>
    <span>A:</span>
    <input #num1 (input)="setFirstNumber(num1.value)" 
        type="number" >
        <span>B:</span>
        <input #num2 (input)="setSecondNumber(num2.value)" 
        type="number">
</div>
<div>
    <button (click)="calculate()">Go</button>
</div>
<div *ngIf="hasResults">
        <p>
            {{firstNumber}} + {{secondNumber}} = {{sum}}
        </p>
        <p>
            {{firstNumber}} - {{secondNumber}} = {{difference}}
        </p>
        <p>
            {{firstNumber}} * {{secondNumber}} = {{product}}
        </p>
</div>