h1 {
    color: palevioletred;
    margin-left: 120px
}

button{
    margin: 10px;
    margin-left: 180px;
    font-size: 25px;
    color: teal;
}

label{
    font-size: 25px ;
}

input{
    margin: 9px;
}





